:root {
    --color-negro: #1b1b1b;
    --color-blanco: #ffffff;
    --color-aguaMarina: rgb(42, 140, 153);
    --color-gris: grey;
    --color-amarillo: rgb(196, 189, 92);
    --color-rojo: rgb(245, 20, 20); 
    --color-transparenteAzul:  rgba(6, 106, 131, 0.3);   
    --color-blancoTransparente: rgba(175, 175, 175, 0.3);
}
*{
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
}
img{
    width: 150px;    
    height: 150px;       
    margin-left: 15px;
    margin-top: 6px; 
}
/*-----------estilos header ----------- */
header{
    position: absolute;
    width: 100%;     
    display: flex;               
}
.logo img{
    margin-left: 20%;          
}
.menu{    
    width: 90%; 
    margin-top: 4%; 
    margin-left: 20%;      
     
}
.menu li{ 
    font-family: 'Gloria Hallelujah', cursive;     
    color: var(--color-negro);    
    margin-right: 5%;
    list-style: none;
    font-size: 22px;    
    display: inline;
    padding: 10px;  
    cursor: pointer; 
}
.menu li:hover {
    color: var(--color-aguaMarina);    
}
.resaltar{    
    background: var(--color-amarillo);
}
.carrito img{ 
    margin-left:60%; 
    cursor: pointer;
    width: 25%;
    height: 60%;
    margin-top: 12%;    
}

.containerProductos{
    position: absolute;
    width: 80%;
    top: 25%;
    left: 10%;
    background-color: rgba(116, 113, 113, 0.3);
    height: 60%;
    box-shadow: 2px 2px 2px 2px rgb(129, 122, 122);
    
}
.estadoProducto{
    display: flex;
    margin-top: 10px;    
}
.productoSeleccionado{
    margin-left: 10%;
    color: var(--color-aguaMarina);

}

.productos{  
    position: absolute;
    margin-left: 4%; 
    margin-top: 4%;    
    width: 90%;
    background: var(--color-blanco);
    border: #928e8e solid 1px;    
    height: auto;     
}
.producto{
    width: 20%;
    text-align: center;
}
.producto img{
    width: 90%;
}
.producto h2,p{
    color: #3b3939;
    font-family: 'Gloria Hallelujah', cursive;
}

.pago{
    position: absolute;
    top: 75%; 
    margin-left: 4%;       
}
.total{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3b3939;
    width: 10%;
}
.botonPago{
    float: right;
    margin-left: 900px;    
    border-color: #ffffff;
    border-radius: 10px;
    width: 20%;
    height: 30px;
    background: rgb(24, 156, 245);
    cursor: pointer;
}



