:root {
    --color-negro: #1b1b1b;
    --color-blanco: #ffffff;
    --color-aguaMarina: rgb(42, 140, 153);
    --color-gris: grey;
    --color-amarillo: rgb(196, 189, 92);
    --color-rojo: rgb(245, 20, 20); 
    --color-transparenteAzul:  rgba(6, 106, 131, 0.3);   
    --color-blancoTransparente: rgba(175, 175, 175, 0.3);
}
*{
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
}
img{
    width: 150px;    
    height: 150px;       
    margin-left: 15px;
    margin-top: 6px; 
}
/*-----------estilos header ----------- */
header{
    position: absolute;
    width: 100%;     
    display: flex;               
}
.logo img{
    margin-left: 20%;          
}
.menu{    
    width: 90%; 
    margin-top: 4%; 
    margin-left: 20%;      
     
}
.menu li{ 
    font-family: 'Gloria Hallelujah', cursive;     
    color: var(--color-negro);    
    margin-right: 5%;
    list-style: none;
    font-size: 22px;    
    display: inline;
    padding: 10px;  
    cursor: pointer; 
}
.menu li:hover {
    color: var(--color-aguaMarina);    
}
.resaltar{    
    background: var(--color-amarillo);
}
.carrito img{ 
    margin-left:60%; 
    cursor: pointer;
    width: 25%;
    height: 60%;
    margin-top: 12%;    
}

/* -----------estilos del titulo----------- */

.titulo{
    position: absolute;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    color: var(--color-aguaMarina);
    margin-top: 15%;
    text-align: center;
    font-size: 30px;
}
/* -----------estilos imagenes productos----------- */
.productos{
    position: absolute;    
    width: 100%;     
    margin-top: 22%;  
      
}
.producto{
    float: left;
    background: var(--color-blanco);
    border: #928e8e solid 1px;    
    width: 14%;
    height: 20%;   
    margin-left: 8%; 
    margin-top: 2%;    
    text-align: center;
}
.info strong{
    background: var(--color-blancoTransparente);
    color: #686363;
    
}
.precio span{ 
    background: #ffffff;     
    margin-left: 10px;
    color: var(--color-aguaMarina);
    font-family: fantasy;
    font-size: 25px;
    top: 40px;

}
.precio .desde{
    margin: 0;
    color: var(--color-gris);
    width: 50px;
    font-size: 15px;
    margin-left: 20px;
    background: white;
}
.agregarCarrito{    
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
.agregarCarrito button{
    background-color: var(--color-aguaMarina);
    text-decoration: none;
    color: var(--color-blanco);
    border: none;
    cursor: pointer;
    width: 90%;
}